includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - tests/*
        - src/Console/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkUnusedParameters: true
    checkUninitializedProperties: true
