parameters:
	ignoreErrors:
		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Address.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Address.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Coordinates.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Coordinates.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Currency.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Currency.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Duration.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Duration.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Email.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Email.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Money.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Money.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Percentage.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Percentage.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/PhoneNumber.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/PhoneNumber.php

		-
			message: '#^Generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends does not specify all template types of class ZeroBoiler\\ValueObjects\\ValueObject\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Url.php

		-
			message: '#^Type array\<string, mixed\> in generic type ZeroBoiler\\ValueObjects\\ValueObject\<array\<string, mixed\>\> in PHPDoc tag @extends is not subtype of template type TKey of \(int\|string\) of class ZeroBoiler\\ValueObjects\\ValueObject\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Url.php

		-
			message: '#^Class ZeroBoiler\\ValueObjects\\ValueObject implements generic interface ZeroBoiler\\ValueObjects\\ValueObjectInterface but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/ValueObject.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: src/ValueObject.php

		-
			message: '#^PHPDoc tag @extends contains generic type ZeroBoiler\\ValueObjects\\Contracts\\ValueObject\<\(int\|string\), mixed\> but interface ZeroBoiler\\ValueObjects\\Contracts\\ValueObject is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/ValueObjectInterface.php
